# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
.venv/
venv/
ENV/
env/

# Jupyter
.ipynb_checkpoints

# VS Code
.vscode/

# Streamlit
.streamlit/

# Operating system
.DS_Store
Thumbs.db

# Logs
*.log

# Package managers
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs
.idea/
